.bg-container {
    background-image: linear-gradient(to right, #fa7257,#fc63a7 );
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading {
    color: #ffffff;
    font-size: 38px;
    font-weight: bold;
    font-family: "Roboto";
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
    color: #dd1264;
    background-color: #ffffff;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border-width: 0px;
    font-size: 12px;
    margin-bottom: 20px;
    font-weight: bold;
}
.name {
  text-align: center;
  background-color: #fddddb;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 700;
  border-radius: 15px;
  align-self: center;
  padding: 18px;
  margin: 10px;
}
@media screen and (min-width: 768px) {
    .card {
        flex-direction: row;
    }
    .button {
        margin-right: 60px;
        margin-left: 60px;
    }
}
